.divBtn {
  display: flex;
  justify-content: space-evenly;
  margin-left: -45px;
  margin-top: 30px;
  width: 350px;

  .signupbtn {
    color: white;
    padding-top: 8px;
    font-family: "Red Hat Mono", monospace;
  }
}

.h1 {
  width: 30rem;
  color: white;
  font-size: 30px;
  font-family: "Prosto One", cursive;
  @media (max-width: 400px) {
    font-size: 25px;
    width: 20rem;
  }
}

.p1 {
  width: 28rem;
  color: white;
  padding-top: max(23px, 1.3vw);
  font-size: max(14px, 0.6vw);
  font-family: "Red Hat Mono", monospace;
  @media (max-width: 400px) {
    font-size: 12px;
  }
}

.word {
  color: white;
  font: 700 normal 35px "tahoma";
  text-shadow: 5px 2px #1d0330, 2px 4px #330256, 3px 5px #210237;
  display: inline;
}
@-webkit-keyframes hvr-icon-push {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes hvr-icon-push {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

.manage-advertising {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: space-around;
  background: url("../../../../assets/shared/gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  padding: max(50px, 5%) 7.5% max(50px, 5%) 15%;
  .img-container {
    width: 32.5%;
    position: relative;
  }
  .shared-main-item1 {
    width: 41%;
    p {
      color: #fff;
    }
  }
  .img {
    position: relative;
    width: 100%;
  }
  .inner-img {
    width: 100%;
    content: url("../../../../assets/home/telBanner.png");
  }
  .card {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    padding: max(10px, 1vw);
    width: 50%;
    right: -2px;
    top: 20%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
    font-size: max(12.5px, 0.8vw);
    border-radius: 0 max(5px, 0.5vw) max(5px, 0.5vw) 0;
  }
  .squares {
    position: absolute;
    left: max(5px, 0.5vw);
    bottom: 0;
    width: 28%;
    padding-top: 28%;
    &::before,
    &::after {
      position: absolute;
      width: 49%;
      padding-top: 49%;
      content: "";
      border-radius: max(5px, 0.4vw);
    }
    &::before {
      top: 0;
      right: 0;
      background: #eec7fc;
    }
    &::after {
      left: 0;
      bottom: 0;
      background: #d175f2;
    }
  }
}

@media (max-width: 1350px) {
  .pejndiv {
    .img-container {
      width: 35%;
    }
    .shared-main-item1 {
      width: 42.5%;
    }
  }
}

@media (max-width: 1250px) {
  .pejndiv{
    padding: 50px 5% 50px 12.5%;
    .img-container {
      width: 37.5%;
    }
    .shared-main-item1 {
      width: 45%;
    }
  }
}

.pejndiv{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1000px) {
  .pejndiv{
    padding: 50px 5%;
    flex-direction: column-reverse;
    background-attachment: unset;
    .img-container {
      width: 400px;
      max-width: 100%;
      margin: 35px auto 0;
    }
    .shared-main-item1 {
      width: 100%;
      text-align: center;
      a {
        margin-inline: auto;
      }
    }
    .h1 {
      width: 100%;
    }
    .p1 {
      width: 100%;
    }
  }
}
