.divBtn {
  display: flex;
  justify-content: space-evenly;
  margin-left: -45px;
  margin-top: 30px;
  width: 350px;

  .signupbtn {
    color: white;
    padding-top: 8px;
    font-family: "Red Hat Mono", monospace;
  }
}

.ad-exchange2 {
  position: relative;
  background: url("../../../../assets/shared/gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  background-attachment: fixed;
  z-index: 1;
  color: #fff;
  padding: max(130px, 10vw) 7.5%;
  clip-path: polygon(100% 0, 100% 40%, 100% 59%, 0 91%, 0 0, 70% 0);
}
.divText{
  margin-left: 10%;
}

.ad-exchange{
  margin-top: -540px;
  z-index: 2;
  position: absolute;
  
}
.h1 {
  width: 30rem;
  color: white;
  font-size: 30px;
  font-family: "Red Hat Mono", monospace;
  @media(max-width:400px){
    font-size: 25px;
    width: 20rem;
  }
}

.p1 {
  width: 28rem;
  color: white;
  padding-top: max(23px, 1.3vw);
  font-size: max(14px, 0.6vw);
  font-family: "Red Hat Mono", monospace;
  @media(max-width:400px){
    font-size:12px;
  }
}

.ad-exchange .main .row {
  margin-bottom: max(30px, 6.5vw);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  .shared-main-item1 {
    width: 40%;
    p {
      color: #fff;
      margin-bottom: max(20px, 1.5vw);
    }
  }
  .img-container {
    width: 42.5%;
    position: relative;
  }
  .img {
    content: url("../../../../assets/home/telBanner.png");
    width: 80%;
  }
  .card {
    position: absolute;
    width: fit-content;
    max-width: 55%;
    display: flex;
    align-items: center;
    background: #0f0f20;
    padding: max(9px, 1vw) max(15px, 2.5vw);
    font-size: max(11px, 0.85vw);
    left: 17.5%;
    bottom: 10%;
    z-index: 2;
  }
  .icon {
    height: max(16px, 1.1vw);
    margin-right: max(10px, 1vw);
  }
}

@media (max-width: 835px) {
  .divBtn{
    margin-left: -50px;
    transition: 1s all ease;
  }
}

@media (max-width: 803px) {
  .divBtn{
    margin-left: -80px;
    transition: 1s all ease;
  }
}

@media (max-width: 766px) {
  .divBtn{
    margin-left: -120px;
    transition: 1s all ease;
  }
}

@media (max-width: 676px) {
  .divBtn{
    margin-left: -150px;
    transition: 1s all ease;
  }
}

@media (max-width: 599px) {
  .divBtn{
    margin-left: -180px;
    transition: 1s all ease;
  }
}
@media (max-width: 530px) {
  .divBtn{
    margin-left: -210px;
    transition: 1s all ease;
  }
}

@media (max-width: 487px) {
  .divBtn{
    margin-left: -240px;
    transition: 1s all ease;
  }
}

@media (max-width: 417px) {
  .divBtn{
    margin-left: -280px;
    transition: 1s all ease;
  }
}
.ad-exchange .main .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .item {
    width: 25%;
    &:hover .icon {
      animation: hvr-icon-wobble-horizontal 1s linear;
      -webkit-animation: hvr-icon-wobble-horizontal 1s linear;
    }
  }
  .icon {
    height: max(25px, 2vw);
  }
  h6 {
    font-size: max(14px, 0.95vw);
    margin: max(10px, 1vw) 0;
  }
  p {
    font-size: max(12px, 0.8vw);
  }
}

@media (max-width: 1200px) {
  .h1{
    width: 100%;
  }
  .p1{
    width: 100%;
  }

  .divBtn{
    padding-left: 250px;
  }

  .ad-exchange .main .row .img{
    padding-top: 20px;
  }

  .ad-exchange .main {
    padding: 130px 5%;
  }
  .ad-exchange .main .row {
    .shared-main-item1 {
      width: 42.5%;
    }
    .img-container {
      width: 45%;
    }
  }
  .ad-exchange .main .items .item {
    width: 27.5%;
  }
}

@media (max-width: 1000px) {
  .ad-exchange .main {
    background-attachment: unset;
  }
  .ad-exchange .main .row {
    .shared-main-item1 {
      width: 100%;
      text-align: center;
      a {
        margin-inline: auto;
      }
    }
    .img-container {
      width: 100%;
      // max-width: 100%;
      margin: 0px auto 0;
      padding-left: 30px;
    }
  }

  .ad-exchange .main .items {
    justify-content: center;
    .item {
      width: 300px;
      max-width: 96%;
      margin: 25px 2%;
      text-align: center;
      .icon {
        margin-inline: auto;
      }
    }
  }
}

@-webkit-keyframes hvr-icon-push {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes hvr-icon-push {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
