.successStories {
    color: #ececec;
    font-weight: 900;
    position: absolute;
    font-size: 28px;
    top: 80px;
    left: 170px;
    text-shadow: 8px 0px 19px rgba(0, 0, 0, 0.888);
    .changecolor {
      color: violet;
      font-size: 30x;
    }
  }
  .bgimgSuccesStories {
    position: relative;
    @media(max-width:895px){
        margin-left: 200px;
        transition: 1s all ease;
    }
    @media(max-width:800px){
        margin-left: 140px;
        transition: 1s all ease;
    }
    @media(max-width:714px){
        margin-left: 100px;
        transition: 1s all ease;
    }
    @media(max-width:648px){
        margin-left: 60px;
        transition: 1s all ease;
    }
    @media(max-width:575px){
        margin-left: 30px;
        transition: 1s all ease;
    }
    @media(max-width:503px){
        margin-left: 0px;
        transition: 1s all ease;
    }
    @media(max-width:471px){
        margin-left: -30px;
        transition: 1s all ease;
    }
    @media(max-width:430px){
        margin-left: -50px;
        transition: 1s all ease;
    }
    @media(max-width:380px){
        margin-left: -80px;
        transition: 1s all ease;
    }
    @media(max-width:335px){
        margin-left: -100px;
        transition: 1s all ease;
    }
    .imagepicSuccesStories {
      max-width: 200px;
      position: relative;
      left: 120px;
      transform: rotate(360deg);
    }
    .imagepicSuccesStories:hover {
      transform: rotate(600deg);
      transition: 2s all ease-in-out;
    }
}
p{
    color: white;
}
.shared-testimonials-slider{
    margin: max(10px, 5%) 10%;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        height: 100%;
        top:0;
        left:max(15px, 1.1vw);
        right:max(15px, 1.1vw);
        background: #363844;
        border-radius: max(10px, 2vw);
    }
    .rec-pagination{ display:none; }
    .slider{
        position: relative;
        z-index: 2;
        color:#fff;
    }
    .rec-arrow,
    .rec-arrow-left,
    .rec-arrow-right{
        background: var(--main-color) !important;
        color: #fff !important;
        
    }
    .item{
        width: 100%;       
    }
    .main{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 1%;
    }
    .img-container2{
        width: 30%;
        position: relative;
        &::before{
            width: 55%;
            padding-top: 55%;
            border-radius: 50%;
            background: var(--main-color);
            position: absolute;
            left:0;
            top:22.5%;
            content:'';
        }
    }
    .profile{
        width: 70%;
        height: 70%;
        position: relative;
        z-index: 3;
    }
    .info{
        flex: 1;
        padding:max(20px, 2vw) 2.5% max(40px, 4vw) ;
        display: flex;
        align-items: flex-start;
    }
    .quote{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: max(20px, 2vw);
        margin-right: max(15px, 1.25vw);
    }
    .info p{
        font-size: max(14px, 1.05vw);
        margin-bottom: max(40px, 5vw);
    }
    .block{flex: 1;}
    .block .inline{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h6{
            font-size: max(13px, 0.8vw);
            margin-bottom: max(5px, 0.35vw);
        }
    }
    .company{
        font-size: max(12px, 0.775vw);
    }
    .reviews{
        display: flex;
        align-items: center;
        font-size: max(13px, 0.8vw);
        svg{ margin: max(1px, 0.1vw); }
    }
}

@media(max-width:1150px){
    .shared-testimonials-slider{
        margin: max(50px, 5%) 5%;
    }
}

@media(max-width:800px){
    .shared-testimonials-slider{
        margin: 50px auto; 
        width: 400px;
        max-width: 95%;
        .main{
            display: block;
            padding: 20px 15px;
        }
        .img-container2{
            width: 75%;
            margin: 0 auto;
        }
        .info{
            width: 100%;
            flex: unset;
            padding:0;
            display: block;
        }
        .quote{
            justify-content: flex-start;
            font-size: 22.5px;
            margin:20px 0 12.5px;
        }
        .info p{
            font-size: 13px;
            margin-bottom: 30px;
        }
        .block{
            flex: unset;
            width: 100%;
        }
        .block .inline{
            flex-wrap: wrap;
        }
        .reviews{
           width: 100%;
           margin-top: 10px;
        }
    }
}
