.divIdesFlex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  @media (max-width: 1200px) {
    flex-direction: column;
  }
  .pIdeFlex {
    font-size: 30px;
    font-family: 'Prosto One', cursive;
    padding-top: 200px;
    @media (max-width: 1200px) {
      margin-top: -100px;
      text-align: center;
    }

    @media (max-width: 560px) {
      margin-left: -180px;
      font-size: 17px;
    }

    @media (max-width: 474px) {
      margin-left: -220px;
    }

    @media (max-width: 403px) {
      margin-left: -280px;
    }

    @media (max-width: 349px) {
      margin-left: -340px;
    }

    @media (max-width: 316px) {
      margin-left: -360px;
    }
  }
}

.iconHtml{
  font-size: 20px;
  color: #E34B24;
}

.cssLogo{
  font-size: 20px;
  color: #006EBA;
}

.jsLogo{
  font-size: 20px;
  color: #E9CA32;
}

.phpLogo{
  font-size: 30px;
  color: #787CB4;
}

.mysqlLogo{
  font-size: 30px;
  color: #E48E00;
}
.hTML,
.bODY {
  height: 95%;
  padding-left: 40px;
  @media (max-width: 1200px) {
    margin-top: 30px;
    margin-left: 120px;
  }
  @media (max-width: 895px) {
    margin-left: 110px;
  }
}
.editor-block {
  background: linear-gradient(rgba(27, 0, 43, 0.725), rgba(27, 0, 43, 0.725));
  width: 600px;
  height: 570px;
  @media (max-width: 1200px) {
    margin-top: 30px;
  }
  @media (max-width: 900px) {
    margin-left: -180px;
  }
  @media (max-width: 840px) {
    margin-left: -60px;
  }

  @media (max-width: 780px) {
    margin-left: -80px;
  }

  @media (max-width: 700px) {
    margin-left: -150px;
  }

  @media (max-width: 630px) {
    margin-left: -200px;
  }
}
.bODY {
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration-editor {
  justify-items: center;
  position: relative;
  left: -100px;
}

.code {
  position: absolute;
  left: 500px;
  width: 390px;
  height: 145px;
  background: #1d1e22;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  z-index: 5;
}

.code-content {
  @media (max-width: 1200px) {
    margin-left: 310px;
  }
}
.code header {
  display: grid;
  grid-template-columns: 36px auto 36px;
  align-items: center;
}
.code header svg {
  margin: 10px;
}
.code header h1 {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1.57px;
  color: #c5c8d4;
  margin: 0;
}
.startCoding{
  color: white;
}
.code-html {
  left: -100px;
  top: 40px;
  @media (max-width: 880px) {
    margin-left: 10px;
  }
  @media (max-width: 803px) {
    margin-left: 30px;
  }
  @media (max-width: 780px) {
    margin-left: 160px;
  }
  @media (max-width: 700px) {
    margin-left: 110px;
  }
  @media (max-width: 700px) {
    margin-left: 37px;
  }
  @media (max-width: 508px) {
    margin-left: 7px;
  }
  @media (max-width: 470px) {
    margin-left:-34px;
  }
  @media (max-width: 404px) {
    margin-left:-65px;
  }
}
.code-css {
  left: -25px;
  top: 200px;
  @media (max-width: 780px) {
    margin-left: 85px;
  }

  @media (max-width: 700px) {
    margin-left: -14px;
  }

  @media (max-width: 700px) {
    margin-left: -39px;
  }
  @media (max-width: 508px) {
    margin-left:-70px;
  }
  @media (max-width: 470px) {
    margin-left:-110px;
  }

  @media (max-width: 404px) {
    margin-left:-140px;
  }
}
.code-js {
  left: -175px;
  top: 360px;
  @media (max-width: 956px) {
    margin-left: 30px;
  }
  @media (max-width: 803px) {
    margin-left: 60px;
  }

  @media (max-width: 780px) {
    margin-left: 236px;
  }

  @media (max-width: 700px) {
    margin-left: 190px;
  }

  @media (max-width: 700px) {
    margin-left: 137px;
  }

  @media (max-width: 570px) {
    margin-left: 110px;
  }

  @media (max-width: 508px) {
    margin-left: 80px;
  }
  @media (max-width: 470px) {
    margin-left:40px;
  }
  @media (max-width: 404px) {
    margin-left:10px;
  }
}
.code-php {
  left: 360px;
  top: 100px;
  // @media (max-width: 880px) {
  //   margin-left: -30px;
  // }
  // @media (max-width: 850px) {
  //   margin-left: -70px;
  // }
  // @media (max-width: 803px) {
  //   margin-top: -60px;
  //   margin-left: -90px;
  // }
  @media (max-width: 900px) {
    display: none;
  }
}
.code-mysql {
  left: 280px;
  top: 300px;
  @media (max-width: 900px) {
    display: none;
  }
}
.phpicon {
  width: 30px;
  position: relative;
  right: 0;
}
.phptext {
  position: relative;
  left: 10px;
}
.code .code-content {
  margin: 0 10px 10px;
  color: white;
}
.code .code-content .c-r {
  color: #a88038;
}
.code .code-content .c-o {
  color: #de7300;
}
.code .code-content .c-y {
  color: #e1ca72;
}
.code .code-content .c-g {
  color: #74b087;
}
.code .code-content .c-p {
  color: #9f8198;
}
.code .code-content .c-b {
  color: #7a99ad;
}
.code .code-content .c-c {
  color: #666666;
}
.code-css .code-content code .line-1 {
  width: 0%;
  margin: 0;
  border-right: 0.15em solid transparent;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}
.code-css .code-content code .line-2 {
  width: 0%;
  margin: 0;
  border-right: 0.15em solid transparent;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}
.code-css .code-content code .line-3 {
  width: 0%;
  margin: 0;
  border-right: 0.15em solid transparent;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.code-css .code-content code .line-1 {
  animation: typing-1 3s 0s steps(30, end) forwards, cursor 1s linear 0s 3;
}
.code-css .code-content code .line-2 {
  animation: typing-2 3s 3s steps(30, end) forwards, cursor 1s linear 3s 3;
}
.code-css .code-content code .line-3 {
  animation: typing-3 3s 6s steps(30, end) forwards, cursor 1s linear 6s 3;
}

.code-css .code-content code .line-1,
.code-css .code-content code .line-3 {
  animation-duration: 1s;
  animation-timing-function: steps(10, end);
}

.code-css .code-content code .line-2 {
  margin-left: 2rem;
}
.code-css .code-content code .line-3 {
  margin-left: 4rem;
}
@keyframes typing-1 {
  from {
    width: 0;
  }
  to {
    width: 60px;
  }
}
@keyframes typing-2 {
  from {
    width: 0;
  }
  to {
    width: 220px;
  }
}
@keyframes typing-3 {
  from {
    width: 0;
  }
  to {
    width: 70px;
  }
}
@keyframes cursor {
  from,
  to,
  20%,
  80% {
    border-color: transparent;
  }
  25%,
  75% {
    border-color: white;
  }
}
@keyframes cursor-persist {
  from,
  45% {
    border-color: transparent;
  }
  50%,
  to {
    border-color: white;
  }
}
