.navbar .mobile-nav{
    position: absolute;
}
.navbar .mobile-sidebar{
    background-color: #22102E;
    position: fixed;
    top:0;
    left:0;
    width:300px;
    max-width:77.5%;
    z-index:2200;
    overflow-y: auto;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.5);
    animation: mobile-nav-scroll 0.2s linear;
    -webkit-animation: mobile-nav-scroll 0.2s linear;
    min-height: 100vh;
    height: 100%;
}
.mobile-sidebar .sidebar-logo-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #bbb;
    padding: 22.5px 20px 17.5px;
    a{
        display: flex;
        align-items: center;
        color: white;
        font-size: 20px;
    }
    .shared-logo{
        height:35px;
    }
    button{
        border: 0;
        background: none;
        font-size: 35px;
        margin-bottom: -7.5px;
        color:#eee;
        cursor: pointer;
    }
}
.mobile-sidebar::-webkit-scrollbar {
    width: 7.5px;
}
.mobile-sidebar::-webkit-scrollbar-track {
    background: #e2e2e2;
    border-radius: 1px;
}
.mobile-sidebar::-webkit-scrollbar-thumb {
    background-color:  #474c55;
    border-radius: 1px;
}
@-webkit-keyframes mobile-nav-scroll {
   0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}
@keyframes mobile-nav-scroll {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}
//Sidebar links------------------------------------------------
.mobile-sidebar .mobile-sidebar-links{
    .nav-sidebar-link{
        display: flex;
        justify-content: space-between;
        padding:16px 20px 15px;
        border-bottom: 1px solid #eee;
        border-left: 4px solid transparent;
        a{
            font-size: 16.5px;
            width:160px;
            display: flex;
            align-items: center;
            color:#eee;
            font-family: "Red Hat Mono", monospace;
            svg{
                font-size: 20px;
                margin-right: 10px;
                color: var(--main-color);
            }
        }
        &:hover{
            border-left: 4px solid var(--main-color);;
        }
    }
    .dropdown-arrow{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        font-size: 22.5px;
        margin-bottom: -3px;
        color:#777;
        cursor: pointer;
    }
}
.mobile-nav .inner-links{
    margin:0;
    h6{
        padding:20px 10px 10px 55px; 
        font-size: 15px;
        color:var(--main-color);
    }
    a{
        padding:10px 10px 10px 55px;
        border-bottom: 1px solid #bbb;
        color:#eee;
        font-size: 15px;
        width: 100%;
        display: flex;
        align-items: center;
        &:hover{
            color:var(--main-color) !important;
        }
    }
    // .category{
    //     border-bottom: 1px solid #bbb;
    //     padding-bottom: 10px;
    // }
    .inner-links2 a{
        font-size: 13.5px;
        border:0;
    }
}
.mobile-sidebar .sidebar-auth{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:15px 0;
    padding:0 10px;
    a{
        font-size: 15px;
        padding:10px 20px;
        border-radius: 5px;
        background-color: var(--main-color);;
        margin:7.5px;
        color:#fff !important;
        display: flex;
        justify-content: center;
        font-family: "Red Hat Mono", monospace;
    }
}

body.dark-mode{
    .navbar .mobile-sidebar{
        background-color: #1A1A1A;
    }
    .mobile-sidebar .sidebar-logo-row{
        border-bottom: 1px solid #444;
        button{ color:#fff; }
    }
    .mobile-sidebar .mobile-sidebar-links{
        .nav-sidebar-link{
            border-bottom: 1px solid #444;
            a{ color:#eee; }
        }
        .dropdown-arrow{ color:#ccc; }
    }
    .mobile-nav .inner-links a{
        border-bottom: 1px solid #444;
        color:#ddd;
    }
}