.next-level-component{
    margin: max(50px, 5%) 7.5%;
    padding:max(40px, 8%) 10%;
    background: url('../../../../assets/home/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color:#fff;
    position: relative;
    text-align: center;
    clip-path: polygon(0 0, 92.5% 0, 100% 20%, 100% 100%, 7.5% 100%, 0 80%);
    .link-container{
        display: flex;
        justify-content: center;
    }
    h1{
        font-size: max(25px, 2vw);
        font-weight: 500;
        color: #fff;
        font-size: 45px;
        text-shadow: 0px 1px 1px #ddd, 0px 2px 1px #d6d6d6, 0px 3px 1px #ccc, 0px 4px 1px #c5c5c5, 0px 5px 1px #cbcbcb, 0px 5px 1px #cbcbcb, 0px 5px 1px #cbcbcb, 0px 5px 1px #cbcbcb, 0px 5px 1px #cbcbcb, 0px 8px 5px rgba(0,0,0,.6);
        text-align: center;
    }
}


















@media(max-width:1000px){
    .home-page .next-level-component{
        background-attachment: unset;
        margin: 50px 3.5%;
        padding: 40px 7.5%;
        p{ width: 100%; }
    }
}

.programming-banner2{
    visibility: hidden;
}