// .banner2{
//     margin: max(50px, 5%) 7.5%;
//     padding:max(40px, 15%) 10%;
//     background-image: url('../../../../assets/home/banner2.png');
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-attachment: fixed;
//     background-position: center;
//     clip-path: polygon(0 0, 92.5% 0, 100% 20%, 100% 100%, 7.5% 100%, 0 80%);
// }

// .programming-banner2{
//     color: #fefefe;
//     font-family: 'Red Hat Mono';
//     font-size: 35px;
//     width: 400px;
//     margin-top: -20rem;
//     margin-left: 10rem;
// }

// .banner2{
//     margin: max(50px, 5%) 7.5%;
//     padding:max(40px, 15%) 10%;
//     background-image: url('../../../../assets/home/banner2.png');
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-attachment: fixed;
//     background-position: center;
//     color:#fff;
//     position: relative;
//     text-align: center;
//     clip-path: polygon(0 0, 92.5% 0, 100% 20%, 100% 100%, 7.5% 100%, 0 80%);
// }

// .bg1{
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top:0;
//     left:0;
//     background: var(--darker-color);
//     opacity: 0.75;
// }
// .text{
//     position: relative;
//     z-index: 2;
// }
// .link-container{
//     display: flex;
//     justify-content: center;
// }
// h1{
//     font-size: max(25px, 2vw);
//     font-weight: 500;
// }
// p{
//     color: #ECECEC;
//     font-size: max(15px, 0.95vw);
//     width: 42.5%;
//     line-height: 1.7;
//     margin:max(10px, 1vw) auto max(17.5px, 1.75vw);
// }

// @media(max-width:1000px){
//     .next-level-component{
//         background-attachment: unset;
//         margin: 50px 3.5%;
//         padding: 40px 7.5%;
//         p{ width: 100%; }
//     }
// }



.next-level-component{
    margin: max(50px, 5%) 7.5%;
    padding:max(40px, 4%) 10%;
    background: url('../../../../assets/home/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color:#fff;
    position: relative;
    text-align: center;
    clip-path: polygon(0 0, 92.5% 0, 100% 20%, 100% 100%, 7.5% 100%, 0 80%);
    .bg1{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        background: var(--darker-color);
        opacity: 0.75;
    }
    .text{
        position: relative;
        z-index: 2;
    }
    .link-container{
        display: flex;
        justify-content: center;
    }
    h1{
        font-size: max(25px, 2vw);
        font-weight: 500;
    }
    p{
        color: #ECECEC;
        font-size: max(15px, 0.95vw);
        width: 42.5%;
        line-height: 1.7;
        margin:max(10px, 1vw) auto max(17.5px, 1.75vw);
        visibility: hidden;
    }
}

@media(max-width:1000px){
    .home-page .next-level-component{
        background-attachment: unset;
        margin: 50px 3.5%;
        padding: 40px 7.5%;
        p{ width: 100%; }
    }
}

.programming-banner2{
    visibility: hidden;
}