.next-level-component{
    margin: max(50px, 5%) 7.5%;
    padding:max(40px, 8%) 10%;
    background: url('../../../../assets/home/banner1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color:#fff;
    position: relative;
    text-align: center;
    // border: 3px solid rgba(255, 255, 255, 0.626) ;
    border-radius: 13px;
    .link-container{
        display: flex;
        justify-content: center;
    }
    h1{
        font-size: max(28px, 3vw);
        font-weight: 900;
        position: relative;
        // text-shadow: 4px 3px 0px rgb(144,109,248), 9px 8px 0px rgba(0,0,0,0.15)
        font-family: 'Red Hat Mono', monospace;    
        text-shadow: 4px 3px 0px rgb(76, 57, 129), 9px 8px 0px rgba(0,0,0,0.15)
    }
    p{
        padding-top: 30px;  
        font-weight: 600;
        font-family: 'Red Hat Mono', monospace; 
    }
}

@media(max-width:1000px){
    .home-page .next-level-component{
        background-attachment: unset;
        margin: 50px 3.5%;
        padding: 40px 7.5%;
        p{ width: 100%; }
    }
}