.korrikulatitle {
  color: #ececec;
  font-weight: 900;
  position: absolute;
  font-size: 20px;
  top: 80px;
  left: 110px;
  font-family: "Red Hat Mono", monospace;
  text-shadow: 8px 0px 19px rgba(0, 0, 0, 0.888);
  .changecolor {
    color: violet;
    font-size: 30px;
  }
}

.bgimg {
  position: relative;
  .imagepic {
    width: 200px;
    position: relative;
    left: 70px;
    transform: rotate(360deg);
  }
  .imagepic:hover {
    transform: rotate(600deg);
    transition: 2s all ease-in-out;
  }
}

p {
  color: white;
}

.our-vision {
//   margin: max(55px, 7.5%) 0;
  padding: 0 6%;
  h1 {
    font-size: max(25px, 3vw);
  }
  .shared-text {
    margin: max(7.5px, 0.75vw) 0 max(30px, 3vw);
  }
  .rec-pagination {
    display: none;
  }
}
.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.itemKorrikula {
  width: 25.5%;
  background: #363844;
  border: 1px solid var(--light-border);
  padding: max(17.5px, 1.75vw);
  border-radius: max(7.5px, 0.75vw);
  margin-bottom: max(30px, 2.5vw);

  box-shadow: rgba(50, 50, 93, 0.1) 0px 10px 20px -5px,
    rgba(0, 0, 0, 0.15) 0px 6px 12px -8px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    content: "";
    background: var(--main-color);
    height: 4px;
    width: 0;
    transition: 0.35s ease-in-out;
    -webkit-transition: 0.35s ease-in-out;
  }
  @media (min-width: 768px) {
    &:hover {
      transform: translateY(min(-10px, -0.75vw));
      -webkit-transform: translateY(min(-10px, -0.75vw));
      &::before {
        width: 100%;
      }
    }
  }
  @media (max-width: 1475px) {
    box-shadow: rgba(50, 50, 93, 0.1) 0px 5px 10px -5px,
      rgba(0, 0, 0, 0.15) 0px 4px 8px -8px;
  }
  .inline {
    display: flex;
    align-items: center;
  }
  .inline1 {
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: max(12px, 0.8vw);
    color: #eee;
  }
  .category {
    background-color: #f8f8f8;
    padding: max(7px, 0.5vw) max(10px, 1vw);
    border-radius: 100vmax;
    margin: 0 max(20px, 2vw) max(10px, 1vw) 0;
  }
  .time {
    margin-bottom: max(10px, 1vw);
  }
  .logo {
    height: max(27.5px, 2.25vw);
    margin: max(10px, 1vw) 0;
    max-width: 90%;
  }
  .logo2 {
    display: none;
  }
  .website {
    font-size: max(14px, 1vw);
  }
  .inline2 {
    margin: max(15px, 1.25vw) 0 max(7.5px, 0.75vw);
  }
  .inline2 span {
    color: #eee;
    text-transform: uppercase;
    font-size: max(25px, 0.8vw);
    margin-right: max(10px, 1vw);
  }
  .inline2 .line {
    flex: 1;
    height: 1.5px;
    background: #ccc;
    margin-bottom: max(2px, 0.1vw);
  }
  .p {
    font-size: max(17px, 1vw);
    margin-bottom: max(15px, 1.25vw);
    color: #eee;
  }
  .bottom {
    // flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .bottom .title {
    color: #565656;
    text-transform: uppercase;
    margin-bottom: max(7.5px, 0.75vw);
    font-size: max(12px, 0.8vw);
  }
  .items {
    display: flex;
    flex-wrap: wrap;
  }
  .small-item {
    width: fit-content;
    text-align: center;
    margin: max(7.5px, 0.5vw) max(15px, 1.75vw) max(7.5px, 0.5vw) 0;
  }
  .icon svg {
    height: max(18px, 1.35vw);
    width: auto;
    margin-bottom: max(5px, 0.35vw);
  }
  .small-item p {
    font-size: max(10px, 0.75vw);
    color: #2a2a2a;
  }
  .bottom a {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-size: max(13px, 0.825vw);
    padding: max(10px, 0.65vw) max(17.5px, 1.25vw) max(9px, 0.6vw);
    margin-top: max(10px, 1vw);
    width: fit-content;
    border-radius: 100vmax;
    transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    &:hover {
      color: #fff;
      background: var(--main-color);
    }
  }

  .btnKorrikula {
    display: flex;
    justify-content: space-evenly;
    align-items: left;
  }
}

@media (max-width: 1300px) {
  .our-vision {
    padding: 0 4.5%;
  }
}

@media (max-width: 1250px) {
  .our-vision {
    padding: 0 2.5%;
    .itemKorrikula {
      width: 26%;
    }
  }
}

@media (max-width: 1020px) {
  .our-vision {
    h1,
    .shared-text {
      padding: 0 5%;
    }
    .slider {
      width: 500px;
      max-width: 100%;
      margin: 0 auto;
    }
    .itemKorrikula {
      width: 96%;
    }
  }
}
