.shared-footer{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.95)), url('../../../../assets/home/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
    padding: max(40px, 4%) 9% max(15px, 1.5vw);
}

.shared-footer .main-top{
    text-align: center;
    .shared-white-logo{
        height: max(25px, 2vw);
        margin:0 auto; 
    }
    h6{
        font-size: max(20px, 1.6vw);
        font-weight: 500;
        margin: max(10px, 1vw) 0 max(15px, 1.5vw);
    }
    a{ margin:0 auto;        font-family: 'Prosto One', cursive;
    }
}

.shared-footer .all-footer-links{
    display: flex;
    justify-content: space-between;
    margin: max(40px, 5vw) 0;
    .footer-list{
        width: fit-content;
        max-width: 18.5%;
    }
    .footer-list h6{
        font-size: max(14px, 0.9vw);
        margin-bottom: max(17.5px, 1.5vw);
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: max(7.5px, 0.6vw);
        position: relative;
        &::before{
            width: max(25px, 2vw);
            position: absolute;
            left:0;
            bottom:0;
            height: 2px;
            background: #fff;
            content: '';
        }
    }
    .links{
        display: flex;
        flex-direction: column;
        a{
            color:#E5E5E5;
            font-size: max(13px, 0.85vw);
            margin:max(7.5px, 0.55vw) 0;
            transition: 0.1s ease-in;
            -webkit-transition: 0.1s ease-in;

        }
        a:hover{
            color: var(--main-color);
        }
    }
}

.shared-footer .third-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: max(15px, 1.5vw) 0;
    border-top: 1px solid #777;
    .p{
        font-size: max(13px, 0.85vw);
        width: fit-content;
        max-width: 100%;
        text-align: center; 
    }
    .right-side{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: fit-content;
        max-width: 100%;
    }
}

.shared-footer .last-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .buttons{
        display: flex;
    }
    .buttons button{
        background-color: #000;
        border:0;
        color:#fff;
        display: flex;
        align-items: center;
        margin-right: max(10px, 0.7vw);
        padding: max(5px, 0.35vw) max(10px, 0.8vw);
        border-radius: max(5px, 0.35vw);
        text-align: left;
        width: fit-content;
        &:hover{ background: #111;}
        .block{
            width: fit-content;
        }
        small{
            font-size: max(8px, 0.6vw);
        }
        h5{
            font-weight: 500;
            font-size: max(12px, 0.8vw);
        }
    }
    .icon{
        height: max(20px, 1.35vw);
        margin-right: max(7.5px, 0.55vw);
    }
    .center-links{
        display: flex;
        justify-content: center;
        width: fit-content;
        max-width: 100%;
        flex-wrap: wrap;
    }
    .center-links a{
        font-size: max(12.5px, 0.8vw);
        color:#E5E5E5;
        transition: 0.1s ease-in;
        -webkit-transition: 0.1s ease-in;
        &:hover{ 
            color: var(--main-color); 
        }
    }
    .center-links span{
        font-size: max(13px, 0.825vw);
        color:#E5E5E5;
    }
    .social-medias{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        max-width: 100%;
        flex-wrap: wrap;
    }
    .social-medias a{
        display: flex;
        align-items: center;
        justify-content: center;
        color:#fff;
        font-size: max(18px, 1.35vw);
        margin:max(7.5px, 0.5vw);
        &:hover{ color:var(--main-color); }
    }
}

@media(max-width:1250px){
    .shared-footer{
        padding: max(40px, 4%) 3.5% max(15px, 1.5vw);
    }
}




@media(max-width:1020px){
    .shared-footer .main-top{
       padding:0 3.5%;
    }
    
    .shared-footer .all-footer-links{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin: 20px 0;
        .footer-list{
            width: fit-content;
            max-width: 44%;
            margin:20px 3%;
        }
        .footer-list h6{
            font-size: 15px;
            &::before{
                right: 0;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .links a{ font-size: 14px; }
    }
    
    .shared-footer .third-row{
        flex-wrap: wrap;
        .p{
            font-size: 14px;
            width: 100%;
            margin: 15px 0;
        }
        .right-side{ width: 100%; }
        .select-language, .mode-switcher-container{
            margin:10px;
        }
    }
    
    .shared-footer .last-row{
        justify-content: center;
        flex-wrap: wrap;
        .buttons{
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            margin:10px 0;
        }
        .buttons button{
            margin: 10px;
            small{ font-size: 10px; }
            h5{font-size: 14px; }
        }
        .icon{ height: 22.5px; }
        .center-links{
            width: 100%;
            margin:10px 0;
        }
        .center-links a{
            font-size: 14px;
            margin:7.5px;
        }
        .center-links span{
           display: none;
        }
        .social-medias{
            width: 100%;
            margin:10px;
        }
        .social-medias a{
            font-size: 22.5px;
            margin: 10px;
        }
    }
}