.shared-footer .mode-switcher-container{
    background: none;
    display: flex;
    border-radius: max(20px, 1vw);
    margin:max(7.5px, 0.5vw);
    border:1px solid #aaa;
    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: max(25px, 1.5vw);
        height: max(25px, 1.5vw);
        border-radius: 50%;
        color:#fff;
        cursor: pointer;
        font-size: max(13px, 0.7vw);
        background: #555;
    }
    .icon1{
        margin-right: max(2px, 0.15vw);
    }
    .icon2{ background: none; }
}

body.dark-mode .shared-footer .mode-switcher-container{
    .icon1{ background: none; }
    .icon2{ background: #555; }
}

// Navbar dark/light mode switch------------------------------------
.navbar .mode-switcher-container{
    border:1px solid var(--dark-border);
    background: var(--dark-bg);
    width: max(30px, 1.85vw);
    height: max(30px, 1.85vw);
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: max(16px, 1vw);
    color:#333;
    margin: 0 max(5px, 0.3vw);
    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon1{ display: none; }
}

body.dark-mode .navbar .mode-switcher-container{
    // color:var(--main-color);
    color: #fff;
    .icon1{ display: flex; }
    .icon2{ display: none; }
}