@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}
 
*,*::after,*::before{
    text-decoration: none;
    list-style: none;
    outline: none;
}

html{
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-color: black;
}
