.bannerOurTeam-background {
  width: 100%;
  height: 25rem;
  background-image: url('../../../../assets/shared/gradient.jpg');
  position: relative;
}

.ourteamTitle {
  width: 100%;
  position: absolute;
  z-index: 11;
  display: flex;
  justify-content: center;
  font-size: 55px;
  margin-top: 168px;
  font-weight: 900;
  font-family: 'Prosto One', cursive;
}