.bannerOurTeam-background {
    width: 100%;
    height: 25rem;
    background: linear-gradient(238.72deg, #9086FF 0%, #000000 100%), linear-gradient(301.28deg, #FF0000 0%, #20002C 100%), linear-gradient(121.28deg, #207A00 0%, #950000 100%), linear-gradient(238.72deg, #00D1FF 0%, #000000 100%), linear-gradient(238.72deg, #00D1FF 0%, #A80000 100%), linear-gradient(58.72deg, #B80000 0%, #1B00C2 100%), linear-gradient(125.95deg, #00E0FF 10.95%, #87009D 100%), linear-gradient(263.7deg, #B60000 3.43%, #B100A0 96.57%), linear-gradient(320.54deg, #800000 0%, #00C2FF 72.37%), linear-gradient(130.22deg, #B9C900 18.02%, #8F73FF 100%);
    background-blend-mode: color-dodge, difference, color-dodge, difference, lighten, difference, color-dodge, difference, difference, normal;
        position: relative;
    @media only screen and (max-width: 768px) {
        clip-path: polygon(100% 0, 100% 50%, 100% 55%, 0% 100%, 0 53%, 0% 0%);
    }
}

.ourteamTitle{
    width: 100%;
    position: absolute;
    z-index: 11;
    display: flex;
    justify-content: center;
    font-size: 55px;
    margin-top: 168px;
    font-weight:900;
}

.lineOnOurtTeam{
    width: 60%;
    position: absolute;
    z-index: 10;
    height: 7px;
    background-color: #A10037;
    display: flex;
    margin-left: 300px;
    margin-top: 200px;
    opacity: 50%;
}