.digitalSchoolTeachersTeam {
  font-size: 30px;
  text-align: center;
  padding: 40px 0 0 0;
  font-family: 'Prosto One', cursive;
  @media (max-width: 451px) {
    font-size: 17px;
  }
}
.OurTeam {
  padding: 3% 8%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ourTeamInsideDiv {
  width: 400px;
  height: 352px;
  background-color: #1f1f1f;
  border-radius: 25px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px;
  margin-bottom: 40px;
  @media (max-width: 1000px) {
    .ourTeamInsideDiv {
      width: 300px;
      margin: 12px;
      margin-bottom: 2%;
    }
    .ourTeamInsideDiv {
      width: 950px;
    }
  }
  @media (max-width: 451px) {
    max-width: 100%;
  }
  &:hover {
    box-shadow: none;
    border: 2px solid #ff1ce8;
    transition: 700ms all ease;
    .profile{
        opacity: 50%;
    }
    .hover-button02 {
      display: flex;
      color: white;
    }
  }
  .colorpink {
    color: #ff1ce8;
    font-family: 'Prosto One', cursive;
  }
  .role {
    @media (max-width: 451px) {
      padding-top: 20px;
      font-family: 'Prosto One', cursive;
    }
  }
}
.ourTeamInsideDiv .pic {
  width: 100%;
  @media (max-width: 451px) {
    padding-top: 20px;
  }
}
.ourTeamInsideDiv .info {
  padding: max(17.5px, 1.5vw);
}
.ourTeamInsideDiv .info h6 {
  display: flex;
  position: relative;
  top: 10px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  font-family: 'Prosto One', cursive;
}

.ourTeamInsideDiv .info p {
  display: flex;
  position: relative;
  top: -17px;
  justify-content: center;
  align-items: center;
  font-size: 16.5px;
  color: #ffffff;
  font-family: 'Prosto One', cursive;
}
.comment {
  font-size: max(13px, 0.85vw);
  margin-bottom: max(3px, 0.2vw);
  color: white;
}

.top span {
  font-size: max(11px, 0.75vw);
  font-style: italic;
}
button {
  background-color: transparent;
  border: none;
  opacity: 90%;
  color: white;
}
.hover-button02{
  display: none;
}

.profile {
  height: 192px;
  width: 290px;
  border-radius: 25px;
  display: flex;
  position: relative;
  top: 20px;
  left: 55px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .ourTeamInsideDiv {
    width: 355px;
    margin: 15px;
    margin-bottom: 2%;
  }
  .ourTeamInsideDiv {
    width: 785px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .ourTeamInsideDiv {
    width: 600px;
    margin: 14px;
    margin-bottom: 2%;
  }
  .ourTeamInsideDiv {
    width: 600px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .ourTeamInsideDiv {
    width: 450px;
    margin: 14px;
    margin-bottom: 2%;
  }
  .ourTeamInsideDiv {
    width: 450px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
  .ourTeamInsideDiv {
    width: 380px;
    margin-bottom: 2%;
  }
  .ourTeamInsideDiv {
    width: 380px;
  }
}

@media (max-width: 482px) {
  .profile {
    margin-left: -10px;
  }
}

@media (max-width: 451px) {
  .profile {
    margin-left: -26px;
  }
}

@media (max-width: 420px) {
  .profile {
    max-width: 100%;
    margin-left: -40px;
  }
}

@media (max-width: 389px) {
  .profile {
    margin-left: -54px;
    margin-top: -20px;
  }
}
