h1{
  color: white;
}

p{
  color: white;
}
//do25f1
.digitalSchoolTeachersTeam {
  font-size: 30px;
  text-align: center;
  padding: 40px 0 0 0;
}
.OurTeam {
  margin: 5% 0;
  padding: 0 12.5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .ourTeamInsideDiv {
    width: 28.5%;
    border: 1px solid violet;
    border-radius: max(10px, 1vw);
    margin: max(20px, 1.75vw) 0;
  }
  .ourTeamInsideDiv .info {
    padding: max(17.5px, 1.5vw);
  }
  .ourTeamInsideDiv .info h6 {
    display: block;
    font-size: 1em;
    color: white;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  .ourTeamInsideDiv .info p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: violet;
  }
  .comment {
    font-size: max(13px, 0.85vw);
    margin-bottom: max(3px, 0.2vw);
    color: white;
  }

  .top span {
    font-size: max(11px, 0.75vw);
    font-style: italic;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }
  .top {
    display: none;
  }
  .readmoreBtn {
    position: relative;
    top: -100px;
    left: 150px;
    width: 100px;
    height: 30px;
    background-color: violet;
    color: white;
  }
  .profile {
    width: 100%;
    border-radius: max(10px, 1vw);
  }
}

@media (max-width: 767px) {
  .OurTeam {
    margin: 20px 0;
    padding: 0 8.5%;
    .ourTeamInsideDiv {
      width: 47.5%;
      padding: 15px 20px;
      margin: 10px 0;
    }
  }
}
@media (max-width: 475px) {
  .OurTeam {
    .ourTeamInsideDiv {
      width: 100%;
    }
  }
}
